:root {
    --primary-color: #000106;
    --secondary-color: #fff;
}

.dark-theme {
    --primary-color: #fff;
    --secondary-color: #000106;
}

.contacts-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: var(--secondary-color);
}

.contacts-heading h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-top: 3px solid #a91b60;
    color: var(--primary-color);
}

.contacts-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin: 0 auto;
    width: 80%;
    padding: 30px;
    border: 2px solid #a91b60;
    background-color: var(--secondary-color);
}

.contacts-grid-item-header h1 {
    color: var(--primary-color);
}

.contacts-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--secondary-color);
}

.contacts-grid-item:hover {
    cursor: pointer;
    border: 1px solid #a91b60;
}

.contacts-grid-item h1:hover {
    color: #a91b60;
}

.contacts-grid-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--secondary-color);
}

.contacts-grid-item-body p {
    font-style: italic;
    color: var(--primary-color);
}

.contacts-add {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.contacts-add button {
    background-color: #a91b60;
    color: var(--secondary-color);
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.contacts-add button:hover {
    background-color: var(--secondary-color);
    color: #a91b60;
    border: 1px solid #a91b60;
}