:root {
    --fg-color: black;
    --bg-color: white;
}

* {
    font-family: monospace;
    
    color: var(--fg-color);
    background-color: var(--bg-color);

    margin: 0;
    padding: 0;
}

.wellcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wellcome h1 {
    background-color: black;
    color: white;
    font-size: 5vh;

    padding: 10px;
}