:root {
    --bg-color: white;
    --fg-color: black;
}

* {
    font-family: 'Rajdhani', sans-serif;
    padding: 0;
    margin: 0;
}

.nav-bar {
    display: flex;
    justify-content: center;
    
    height: 3vh;

    background-color: var(--bg-color);
}

.nav-links {
    width: 75%;
    display: flex;

    background-color: var(--bg-color);
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;

    color: var(--fg-color);
    text-decoration: none;
    font-size: 150%;
    transition: 0.2s;
}

.nav-link:hover {
    background-color: lightgrey;
}
