.meetings-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    background-color: var(--secondary-color);
}

.meetings-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    text-align: center;
}

.meetings-heading h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-top: 3px solid #a91b60;
    color: var(--primary-color);
}

.meetings-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    padding: 1rem;
    border: 2px solid #a91b60;
    width: 50%;
    background-color: var(--secondary-color);
}

.meetings-card-body-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    padding: 1rem;
    width: 50%;
    background-color: var(--secondary-color);
}

.item-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--secondary-color);
}

.item-heading h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

.item-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--secondary-color);
}

.item-body p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-color);
    font-style: italic;
}

.meetings-add {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.meetings-add button {
    background-color: #a91b60;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.meetings-add button:hover {
    background-color: #fff;
    color: #a91b60;
    border: 1px solid #a91b60;
}