:root,
:root.light {
	--color-bg: #fff;
	--color-fg: #333;
    --color-hover: #a91b60;
}

:root.dark {
	--color-bg: #333;
	--color-fg: #fff;
}

body {
	background-color: var(--color-bg);
	color: var(--color-fg);
}

#mode {
    text-decoration: none;
    border: none;
    background: none;
    color: var(--color-fg);
}

#mode:hover {
    color: var(--color-hover);
    cursor: pointer;
}
