:root {
    --primary-color: #000106;
    --secondary-color: #fff;
}

.dark-theme {
    --primary-color: #fff;
    --secondary-color: #000106;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    background-color: var(--secondary-color);
}

.profile-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    text-align: center;
    width: 75%;
}

.profile-heading h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-top: 3px solid #a91b60;
    color: var(--primary-color);
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    padding: 1rem;
    border: 2px solid #a91b60;
    width: 50%;
}

.info-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.info-head h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

.info-head h2 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-color);
}

.info-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.info-body p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-color);
}

.info-body a {
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-color);
    text-decoration: none;
}

.info-body a:hover {
    color: var(--primary-color);
}

.info-body a:active {
    color: var(--primary-color);
}

.info-body a:visited {
    color: var(--primary-color);
}

.info-body a:link {
    color: var(--primary-color);
}
